TG_BOT_TOKEN=
TG_ALLOWED_USER_ID=
TG_BOT_NAME=
KIBANA_PUBLIC_URL=http://localhost:5601
TG_ALERT_CHAT_ID=
TG_ALERT_THRESHOLD=3
TG_ALERT_WINDOW_SECONDS=10
TG_ALERT_COOLDOWN_SECONDS=15
TG_LOOP_SLEEP=0.5
TG_POLL_TIMEOUT=5
